apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
data:
  Corefile: |
    .:53 {
        errors
        health
        ready
        log
        kubernetes cluster.local in-addr.arpa ip6.arpa {
            pods insecure
            fallthrough in-addr.arpa ip6.arpa
            ttl 30
        }
        # Use public resolvers instead of the node's /etc/resolv.conf
        forward . 1.1.1.1 8.8.8.8 9.9.9.9 {
            max_concurrent 1000
        }
        cache 30
        loop
        reload
        loadbalance
    }
