# k8s/infrastructure/base/kustomization.yaml

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# No resources yet, but this file ensures the directory is valid Kustomize content
resources: []
