# k8s/infrastructure/base/kustomization.yaml

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Core infrastructure components
resources:
  - namespaces.yaml
  - storage-class.yaml
  - cert-manager-helmrelease.yaml
  - cert-manager-clusterissuers.yaml
  - ingress-nginx-helmrelease.yaml

# Patch to add SOPS age key volume to kustomize-controller
patchesStrategicMerge:
  - kustomize-controller-patch.yaml
