# k8s/infrastructure/base/kustomization.yaml

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Core infrastructure components
resources:
  - namespaces.yaml
  - storage-class.yaml
  - cert-manager-helmrelease.yaml
  - ingress-nginx-helmrelease.yaml
  - coredns-configmap.yaml
  - metallb-helmrelease.yaml
  - metallb-config.yaml

