apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: home-secrets
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./k8s/infrastructure/secrets
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  wait: true
patches:
  - patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: kustomize-controller
        namespace: flux-system
      spec:
        template:
          spec:
            containers:
            - name: manager
              env:
              - name: SOPS_AGE_KEY
                valueFrom:
                  secretKeyRef:
                    name: sops-age
                    key: age.key
    target:
      kind: Deployment
      name: kustomize-controller
      namespace: flux-system
