---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-sync
  namespace: flux-system
spec:
  dependsOn:
    - name: infra-sync
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  interval: 5m
  retryInterval: 1m
  timeout: 5m
  prune: true
  path: ./k8s/apps
  sourceRef:
    kind: GitRepository
    name: flux-system
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: post-build-subs
