apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: envoy-gateway
  namespace: flux-system
spec:
  interval: 10m
  path: ./k8s/infrastructure/envoy-gateway
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  dependsOn:
  - name: cert-manager
