# cert-manager component kustomization

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cert-manager

resources:
  - certmanager_jetstack.yaml

# Wait for cert-manager webhook to be ready
healthChecks:
  - apiVersion: apps/v1
    kind: Deployment
    name: cert-manager-webhook
    namespace: cert-manager
